<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TheWalkingDead.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E815FCA61C1193010066C948</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E815FCBD1C1193010066C948</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E815FCC81C1193020066C948</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
